# Python
*.py[cod]
__pycache__/
*.so

# Django
*.log
*.pot
*.pyc
__pycache__/
local_settings.py
db.sqlite3

# Environments
.env
.venv/
venv/
ENV/
env/
venv.bak/

# IDEs
.vscode/
.idea/

# Static and media files
staticfiles/
media/

# Migrations
*/migrations/*

# Django admin
/admin
